* {
    box-sizing: border-box;
}

body {
    background-color: #40407a;
    color: #40407a;
    min-width: 900px;
    max-width: 1600px;
    margin: 0;
    font-family: Verdana, Arial, sans-serif;
}

#wrapper {
    width: 80%;
    margin: auto;
    background-color: #f5f5f5;
    padding: 2em;
}

header {
    background-color: #40407a;
    color: #ffffff;
    background-image: url(img/lilyheader.gif);
    background-size: 100% 100%;
    /* Sets the width and height of the background image in percent of the parent element. */
    margin-top: 50px;
}

header a {
    text-decoration: none;
}

header a:link {
    color: #40407a;
}

header a:visited {
    color: #40407a;
}

header a:hover {
    color: #edf5f5;
}

#loungehero {
    height: 300px;
    background-image: url(img/yogalounge.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    clear: both;
}